*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    width: 100vw;
    height: 30vh;
    background-color:aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
li{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#74e4bf;
    border: 1px solid white;
    cursor: pointer;
}
li:hover{
    background-color: aquamarine;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color:cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-through{
    text-decoration: line-through;
}
button{
    width: 50px;
    height:50px;
    border-radius: 100%;
    position: fixed;
    bottom: 70;
    left: 10vw;
    cursor: pointer;
    border: none;
    background-color: aqua;
    color: white;
    font-size: 20pt;
    font-weight: bold;
}