*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    width: 100vw;
    height: 30vh;
    background-color:aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}